/* CSS Stage 1 CSS*/

body{
	background-color: white;
	padding: 20px 10px;
	font-family: Helvetica;
	max-width: 2000px;
	margin: 0 auto; 
}

h1{
	background-color: black;
	color: orange;	
}

h2{
	border-radius: 5px;
	color: orange;
	padding: 20px 10px;
	max-width: 2000px;
	margin: 0 auto;	
}

h3{
	color:beige;
	text-align: center;
	font-size: 25px;
	margin: 5px;
}

.main-content{
	background-color: blue;
	border-radius: 5px;
	color: black;
	padding: 10px;
	margin: 10px auto;
}

.notes-title{
	text-align: center
}

.lesson{
	background-color: grey;
	border-radius: 5px;
	color: black;
	padding: 10px;
	margin: 10px auto;
	font-size: 15px;
}

.section-block{
	background-color: #33bebe;
	border-radius: 5px;
	color: black;
	padding: 10px;
	margin: 10px auto;
}

.section-content{
	font-size: 20px;
}

.code-element{
	color:black;
	font-weight: bold;
	font-size: 25px;
}